@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: scroll;

  height: 100vh;
  width: 100vw;

  font-family: "Rubik", sans-serif;

  background-color: hsl(226, 43%, 10%);
}

.appContainer {
  display: grid;

  grid-template-columns: repeat(4, 14rem);
  grid-template-rows: 14rem 14rem;

  gap: 1.6rem;
}

.bigBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;

  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;

  background-color: hsl(235, 46%, 20%);

  border-radius: 15px;

  overflow: hidden;
}

.bigLightContainer {
  background-color: hsl(246, 80%, 60%);

  padding: 1.5rem;

  height: 180%;
  width: 100%;

  grid-column: 1;
  grid-row: 1;

  border-radius: 15px;

  z-index: 999;
}

.imgContainer {
  display: flex;
  justify-content: left;
  align-items: center;

  height: 70px;

  margin-bottom: 3rem;
}

.imgContainer img {
  height: 100%;

  border: 2px solid white;
  border-radius: 50%;
}

.textContainer p {
  color: hsl(236, 100%, 87%);
  font-size: 12px;
}

.textContainer h1 {
  color: white;
  font-weight: 300;
}

.bigDarkContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 100%;

  grid-column: 1;
  grid-row: 2;
}

.interval {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;

  padding: 0 2rem;

  background-color: hsl(235, 46%, 20%);

  height: 100%;
  width: 100%;

  border-radius: 0 0 15px 15px;
}

.interval p {
  color: hsl(235, 45%, 61%);

  margin: 0.6rem 0;

  cursor: pointer;
  width: fit-content;
}

.interval p:hover {
  color: white;
}

.smallBox {
  width: 100%;

  color: white;

  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.smallLightContainer {
  position: absolute;
  align-self: flex-start;

  height: 50%;
  width: 100%;

  border-radius: 15px;

  z-index: 1;

  background-color: aliceblue;

  overflow: hidden;
}

.svgIcon {
  position: absolute;
  right: 10px;
  top: -10px;
}

.smallDarkContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  flex-direction: column;

  position: absolute;

  height: 83%;
  width: 100%;

  background-color: hsl(235, 46%, 20%);

  padding: 2rem;

  border-radius: 15px;

  z-index: 9;

  font-weight: 400;
}

.smallDarkContainer:hover {
  cursor: pointer;

  background-color: hsl(235, 45%, 61%);
}

.cardTitle {
  margin-bottom: 1.5rem;

  font-size: 18px;
}

.cardCurrentTime {
  font-size: 48px;
  font-weight: 300;

  margin-bottom: 1rem;
}

.cardPreviousTime {
  font-size: 12px;
  font-weight: 400;
  color: hsl(236, 100%, 87%);
}

.dotsIcon {
  position: absolute;
  top: 1.7rem;
  right: 2rem;

  cursor: pointer;
}

.dotsIcon:hover > svg > path {
  fill: white;
}

/* Themes's colors */

.themeWork {
  background-color: hsl(15, 100%, 70%);
}

.themePlay {
  background-color: hsl(195, 74%, 62%);
}

.themeStudy {
  background-color: hsl(348, 100%, 68%);
}

.themeExercise {
  background-color: hsl(145, 58%, 55%);
}

.themeSocial {
  background-color: hsl(264, 64%, 52%);
}

.themeSelfCare {
  background-color: hsl(43, 84%, 65%);
}

@media screen and (max-width: 375px) {
  .App {
    height: auto;
  }
  .appContainer {
    display: flex;
    flex-direction: column;

    gap: 1.5rem;

    width: 20rem;

    padding: 5rem 0;
  }
  .bigLightContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 8rem;
    width: 100%;

    gap: 1rem;
  }
  .imgContainer {
    margin-bottom: 0;
  }
  .textContainer p {
    font-size: 14px;

    margin-bottom: 0.5rem;
  }
  .textContainer h1 {
    font-size: 24px;
  }
  .bigDarkContainer {
    height: 4rem;
    width: 100%;
  }
  .interval {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 100%;

    padding: 1.5rem;
  }
  .interval p {
    margin: 0;

    font-size: 17px;
  }
  .interval p:nth-child(1) {
    margin-left: 1rem;
  }
  .smallBox {
    height: 10rem;
    width: 100%;
  }
  .smallDarkContainer {
    justify-content: space-evenly;

    padding: 1.5rem;

    height: 75%;
  }
  .cardTitle {
    margin-bottom: 0;
  }
  .cardTimeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }
  .cardCurrentTime {
    margin-bottom: 0;

    font-size: 35px;
  }
  .cardPreviousTime {
    font-size: 14px;
  }
}
